<h3>/album/</h3>

<h4>Shortcut key</h4>

<p><code>Up</code>/<code>Down</code> : Pre/Next Image<br/><code>Ctrl</code> + <code>Left/Right</code> : Pre/Next Image<br/><code>Ctrl</code> + <code>A</code> : Select All<br/><code>Ctrl</code> + <code>R</code> : Reverse All<br/><code>Esc</code> : Cancel All Select<br/><code>Ctrl</code>+ <code>Enter</code> : Select the image displayed in the current screen<br/><code>Ctrl</code> + <code>Del</code> : Delete images Selected  </p>

<h4>Jump Box</h4>

<p>Jump to Nth page Mth image，input N:M  </p>

<h3>/folder/</h3>

<h4>Shortcut key</h4>

<p><code>Ctrl</code> + <code>A</code> : Select All<br/><code>Ctrl</code> + <code>R</code> : Reverse All<br/><code>Esc</code> : Cancel All Select<br/><code>Ctrl</code> + <code>Del</code> : Delete images Selected <br/><code>Ctrl</code> + <code>Shift</code> + <code>M</code> : Start/Stop multiple select mode   </p>

<h4>Multiple select mode</h4>

<p>Click on the image item will trigger select operation on it only when &quot;multiple select mode&quot; is on   </p>

<h4>Change gallery base directory</h4>

<p><strong>Change</strong> to override the origin <br/><strong>Add</strong> to keep the origin and append one   </p>