<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= title %></title>
    <link href="/css/index.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/bs3/css/bootstrap.min.css"/>
    <link href="/images/favicon.png" rel="shortcut icon" type='image/vnd.microsoft.icon' />

</head>
<body>
<% include navibar.ejs %>
<!-- header end -->
<div id="index-container">
    <% if (typeof breadcrumb !== 'undefined') { %>
    <% include breadcrumb.ejs %>
    <% } %>
    <% if (typeof base_dirs !== 'undefined') { %>
    <div class="breadcrumb">
        <% for (var i = 0; i < base_dirs.length; i++) { %>
        <% var baseDir = base_dirs[i] %>
        <span class="base-path">
            <a href="/folder/<%= baseDir %>" target="_blank">
                <span><%= baseDir %></span>
            </a>
        </span>
        <span class="separator"></span>
        <% } %>
    </div>
    <% } %>
    <div id="woo-holder">
        <!-- When gotop button is clicked, scrollbar will be positioned where the anchor is. -->
        <a class="woo-swa" name="woo-anchor"></a>

        <div class="woo-swb">
            <div class="woo-pcont woo-masned my-pic">