@charset "utf-8";

/* ==========================================================================
   重置样式
   ========================================================================== */
input[type="search"] {
    padding: 0 10px;
    margin: 0;
    border-radius: 0;
}

/* ==========================================================================
   全局设定
   ========================================================================== */

body.post {
    padding: 0;
    font: 13px Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    color: #454545;
    /*background: #000 url('../images/8F1F1.png') repeat !important;*/
    /*background: url("../images/white-texture.png");*/
    background: #f6f8f8;
    margin: 0 auto;
    width: 100%;
    height: 900px;
    letter-spacing: 1px;
}

a {
    color: #7DA1BC;
    text-decoration: none;
}

h1 {
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    border: 0;
}

hr {
    height: 1px;
    border-style: none;
    color: #d0d0d0;
    background-color: #c0c0c0;
    margin: 10px 0;
}

@font-face {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/fontawesome-webfont.woff?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff");
}

/* ==========================================================================
   自定义简便规则
   ========================================================================== */

.align_left {
    text-align: left;
}

.align_right {
    text-align: right;
}

.align_center {
    text-align: center;
}

.clearfix {
    clear: left;
}

/* ==========================================================================
   index
   ========================================================================== */

#post_content {
    /*height : 600px;  /*--------子元素从这继承---------*/
    width: 1120px;
    margin: 0 auto;
}

#post_content h1 {
    font-size: 4em;
    color: #555;
    text-shadow: 1px 2px 2px #999;
    text-align: center;
    margin: 70px 0 40px 0;
}


ul li img {
    max-width: 300px;
    max-height: 500px;
    /*居中*/
    display: block;
    /*margin: auto;*/
}

/* waterfall style */
#container-kissy {
    position: relative;
    margin-top: 50px;
}

.ks-waterfall {
    position: absolute;
    width: 300px;
    overflow: hidden;
    box-shadow: 2px 2px 3px #333, -2px -2px 3px #333, 2px -2px 3px #333, -2px 2px 3px #333;
    margin-bottom: 20px;
    text-align: center;
    left: -9999px;
    top: -9999px;
}

.ks-waterfall:hover {
    box-shadow: 3px 3px 6px #333, -3px -3px 6px #333, 3px -3px 6px #333, -3px 3px 6px #333;
}

.ks-waterfall h4 {
    /*overflow: hidden;*/
    line-height: 1.5em;
    color: #ccc;
    /*text-overflow: ellipsis;*/
    margin: 0;
    border-top: 2px solid #333;
    padding: 15px 10px;
    background: rgba(63, 61, 61, 0.4);
}

.ks-waterfall:hover h4 {
    color: #ccc;
}

/* ==========================================================================
   Navigation
   ========================================================================== */
.header ul.nav {
    background: #fff;
    margin-bottom: 30px;
}

/*选中*/
.item-selected {
    opacity: 0.5;
    border: 2px solid #999;
}