<h3>/album/</h3>

<h4>快捷键</h4>

<p><code>Up</code>/<code>Down</code> : 上一张/下一张<br/><code>Ctrl</code> + <code>Left/Right</code> : 上一页/下一页<br/><code>Ctrl</code> + <code>A</code> : 全选<br/><code>Ctrl</code> + <code>R</code> : 反选<br/><code>Esc</code> : 取消所选<br/><code>Ctrl</code>+ <code>Enter</code> : 选定当前屏幕所对应的图片<br/><code>Ctrl</code> + <code>Del</code> : 删除当前屏幕所对应的图片  </p>

<h4>跳转框</h4>

<p>跳转到第N页的M张图片，输入N:M  </p>

<h3>/</h3>

<h4>快捷键</h4>

<p><code>Ctrl</code> + <code>A</code> : 全选<br/><code>Ctrl</code> + <code>R</code> : 反选<br/><code>Esc</code> : 取消所选
<code>Ctrl</code> + <code>Del</code> : 删除当前屏幕所对应的图片<br/><code>Ctrl</code> + <code>Shift</code> + <code>M</code> : 启动/取消多选模式  </p>

<h4>多选模式</h4>

<p>点击<code>启动多选模式</code>后，才能对相册进行选中，删除等操作，否则点击相册默认为打开相册  </p>

<h4>切换相册根目录</h4>

<p>点击<strong>更改</strong>将以输入的目录为根目录浏览相册<br/>点击<strong>添加</strong>将以输入的目录加上原来的目录共同为根目录浏览相册  </p>