@import "_extend"
@import "_variables"
@import "style"

/* loading */
.woo-loading
  height 40px
  background url(http://cdn.duitang.com/uploads/people/201307/30/20130730175612_KU2dF.gif) center 12px no-repeat

/* woo-pcont 为空节点时，ie6 ie7下，节点的高度不为0 */
.woo-pcont
  height 0

/* masn 生效前设置不可见 */
.woo-masned
  zoom 1
  overflow hidden
  visibility hidden
  margin-left auto
  margin-right auto
  /* woo 基本单元块，初始状态不可见 */
  .woo
    position absolute
    top -6000px


#index-container
  margin-top 70px

.img-wrapper-selected
  background url(selected-url) center no-repeat
  background-size 70%

.woo
  width 250px
  margin 0 21px 20px 0
  padding-bottom 1px
  box-shadow 3px 3px 2px rgba(0,0,0,0.1)
  a
    text-decoration none
    &:hover
      text-decoration none
  img
    border-bottom 1px solid #ddd
    transition opacity 0.3s ease
    &:hover
      opacity 0.7
  .j
    border 1px solid #ddd
    border-right 0
    background #fff
  .row
    display table-row
    width 100%
    div
      padding 10px
      text-align center
      vertical-align middle
    span
      color #888
  .glyphicon
    margin-right 5px

.row
  .cell-title
    display table-cell
    width 73%
  .cell-count
    display table-cell
    width 27%
    border-left 1px solid #ddd

.breadcrumb
  font-size 1.2em
  a
    color #4183c4
  .base-path,
  .final-path
    font-weight bold
