h1
  text-transform capitalize

nav
  .help
    i
      font-size 1.4em
    .dropdown-menu
      padding 0 15px
      width 330px
      height 550px
      text-overflow ellipsis
      overflow auto
      .doc
        position relative
        overflow-y auto
        overflow-x hidden
        padding-right 20px
        margin-right -20px
        width 330px

span
  &.delete-modal-warn
    border-radius 3px
    padding 3px 10px
    background #f0f0f0

.item-selected
  opacity 0.5

.get-top
  position fixed
  right 30px
  bottom 20px
  .glyphicon
    dispaly inline-block
    font-size 1.5em

.not-writable
  .row
    background #FCF9E8
  .glyphicon-warning-sign
    color #a94442 !important
  h1
    color #a94442
    background-color #f2dede !important
    border-color #ebccd1
    span
      font-size .3em
   